<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-7")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    %meta(name="HandheldFriendly" content="true")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %title David Goldberg Director and Cinematographer
    %meta(name="description" lang="en" content="Simple Matters Films is David Goldberg's home on the web. Check out his videos and more to get a sense of style.")
    %meta(name="author" content="David Goldberg")
    %link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    %link(rel="apple-touch-icon-precomposed" href="images/icon.png")
    %link(rel="stylesheet" type="text/css" href="stylesheets/jquery.fancybox.css?v=2.1.4" media="screen")
    %link(rel="stylesheet" type="text/css" href="stylesheets/jquery.fancybox-buttons.css?v=1.0.5")
    %link(rel="stylesheet" type="text/css" href="stylesheets/jquery.fancybox-thumbs.css?v=1.0.7")
    %link(rel="stylesheet" href="stylesheets/style.css" type="text/css")
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46980605-1', 'simplemattersfilms.com');
      ga('send', 'pageview');
  %body
    = yield
    %script(type="text/javascript" src="javascripts/jquery.min.js")
    %script(type="text/javascript" src="javascripts/jquery.tinynav.min.js")
    %script(type="text/javascript" src="javascripts/imagesloaded.pkgd.min.js")
    %script(type="text/javascript" src="javascripts/jquery.isotope.min.js")
    %script(type="text/javascript" src="javascripts/jquery.mousewheel.pack.js")
    %script(type="text/javascript" src="javascripts/jquery.fancybox.js?v=2.1.4")
    %script(type="text/javascript" src="javascripts/jquery.fancybox-buttons.js?v=1.0.5")
    %script(type="text/javascript" src="javascripts/jquery.fancybox-thumbs.js?v=1.0.7")
    %script(type="text/javascript" src="javascripts/jquery.fancybox-media.js?v=1.0.5")
    %script(type="text/javascript" src="javascripts/bookmark_bubble.js")
    %script(type="text/javascript" src="javascripts/script.js")
