#container
  #header
  #page
    #menu
      %ul
        %li.selected
          %a.home.links(href="#home")HOME
        %li
          %a.commercial.links(href="#commercial")COMMERCIAL
        %li
          %a.narrative.links(href="#narrative")NARRATIVE
        %li
          %a(href="http://www.instagram.com/dgdc.ca") Photography
        -#
          %li
            %a(href="#photos" class="photos links")PHOTOS
    #content
      #home
        #name(style="font-size: 2.5rem;")David Goldberg
        #title(style="font-size: 2rem;")Director // Cinematographer
        #contact-info(style="font-size: 1rem;")
          :markdown
            778 938 7573   
            [DG@DGDC.CA](mailto:dg@dgdc.ca)
        %a(name="home")
        .embed-container
          %iframe(src="https://player.vimeo.com/video/61879457?title=0&amp;byline=0&amp;portrait=0" frameborder="0") webkitAllowFullScreen mozallowfullscreen allowFullScreen
      #commercial(style="display:none;")
        %a(name="commercial")
        %h2 Commercial
      #narrative(style="display:none;")
        %a(name="narrative")
        %h2 Narrative
      #photos(style="display:none;")
        %a(name="photos")
        %h2 Photos
        #footer
